* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 35px;
  font-weight: 400;
  color: #000;
}

.container {
  width: 600px;
  margin: 10px auto 30px auto;
}

.accordion-container {
  color: #4186db;
  transition: color 0.8s ease-in-out;
}

.accordion-container:hover {
  color: black;
  transition: color 0.8s ease-in-out;
}

.accordion-header {
  border-bottom: 1px solid #80808033;
}

.accordion-block {
  cursor: pointer;
  margin-bottom: 20px;
}

.accordion-block:not(:last-child) {
  border-bottom: 1px solid #80808033;
}

.accordion-header {
  padding-bottom: 20px;
}

.accordion-label {
  display: block;
  cursor: pointer;
}

.accordion-input {
  display: none;
}

.accordion-item {
  display: flex;
  justify-content: space-between;
}

.accordion-block-icon {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: rotate 0.5s;
}

.accordion-image {
  display: block;
  width: 0%;
  margin: 10px auto;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.accordion-input:checked ~ .accordion-label > .accordion-image,
.accordion-block:hover
  > .accordion-input:not(:checked)
  ~ .accordion-label
  > .accordion-image {
  width: 50%;
  transition: width 0.5s ease-in-out;
}

.accordion-input:checked ~ .accordion-label {
  color: black;
}

.accordion-container:hover .accordion-block-icon {
  background-image: url(../img/plus.svg);
  opacity: 1;
}

.accordion-container:hover
  .accordion-input:checked
  ~ .accordion-label
  .accordion-block-icon,
.accordion-block:hover .accordion-block-icon {
  background-image: url(../img/close.svg);
  opacity: 1;
}

.accordion-block:active {
  opacity: 0.7;
}
